{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>
            Книжный интернет-магазин «Books»
            115419, Москва, 2-й Рощинский проезд, дом 8, строение 4.
            Электронная почта: shop@Booksmail.ru
            График работы операторской службы:
            Ежедневно, круглосуточно.
            Подробнее: https://www.Books.ru/contact/
        </p>
    </div>
{% endblock %}