{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Добро пожаловать в наш интернет-магазин "Книги"! Мы являемся одним из ведущих поставщиков книг автора Глен Кука и рады предложить вам самый широкий выбор его произведений.
Наш магазин специализируется на продаже книг, написанных Гленом Куком, который закономерно занимает одно из первых мест среди бестселлеров по всему миру. Глен Кук - автор, который сможет удивить своих читателей и затронуть самые трогательные струны души.
Мы гордимся нашими конкурентоспособными ценами, доставкой в любую точку мира и безупречным качеством обслуживания. Все наши товары проходят тщательную проверку перед продажей.
Наша команда профессионалов всегда готова прийти на помощь, чтобы ответить на ваши вопросы и помочь выбрать именно ту книгу, которая будет соответствовать вашим интересам и вкусам.

Спасибо за то, что выбираете наш магазин "Книги" для покупки книг Глен Кука! Мы надеемся, что ваши покупки у нас будут приятными и комфортными.</p>
    </div>
{% endblock %}